<section id="projects">
  <div class="container">
    <h3>{{ .Site.Data.projects.name }}</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        {{ range .Site.Data.projects.source }}
          <h5>
            <i class="{{ .ghicon }}"></i>&nbsp;&nbsp;
            <strong><a href="{{ .ghlink }}">{{ .name }}</a></strong>
            <br>
            {{ if .linklink }}
            <i class="{{ .linkicon }}"></i>&nbsp;&nbsp;
            <strong><a href="{{ .linklink }}">Link</a></strong>
            <br>
            {{ end }}

            <i class="{{ .blogicon }}"></i>&nbsp;&nbsp;
            <strong><a href="{{ .bloglink }}"> Blog </a></strong>
            <br> 
            {{ .description }}
          </h5>
      {{ end }}
      </div>
    </div>
  </div>
</section>
