{{ with .Site.Data.languages }}
  <section>
    <h1><b><u>Skills</u></b></h1>
    <h2><b>{{ .name }}</b></h2>
    {{ range .source }}
    <article>
      <header>
        <h1>{{ .type }}</h1>
      </header>
      <p>
          &nbsp;&nbsp;<em>{{ delimit .name "</em>, <em>" "</em> & <em>" }}</em>
      </p>
    </article>
    {{ end }}
  </section>
{{ end }}

{{ with .Site.Data.frameworks}}
<section>
  <h2><b>{{ .name }}</b></h2>
  {{ range .source }}
  <article>
    <header>
      <h1>{{ .type }}</h1>
    </header>
    <p>
        &nbsp;&nbsp;<em>{{ delimit .name "</em>, <em>" "</em> & <em>" }}</em>
    </p>
  </article>
  {{ end }}
</section>
{{ end }}

{{ with .Site.Data.technologies}}
<section>
  <h2><b>{{ .name }}</b></h2>
  {{ range .source }}
  <article>
    <header>
      <h1>{{ .type }}</h1>
    </header>
    <p>
        &nbsp;&nbsp;<em>{{ delimit .name "</em>, <em>" "</em> & <em>" }}</em>
    </p>
  </article>
  {{ end }}
</section>
{{ end }}

