<header id="reshead" class="three columns vitae-basic">
  <img src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" class="me">
  <h1>{{ .Site.Params.author }}</h1>

  <address>
      <div>{{ .Site.Params.vitae.address }}</div>
      <div>{{ .Site.Params.vitae.postcode }}</div>
      <div>{{ .Site.Params.vitae.city }}</div>
      <div>{{ .Site.Params.vitae.country }}</div>
  </address>
 
  <p>
    <a href="mailto:{{ .Site.Params.social.email }}">{{ .Site.Params.social.email }}</a>
  </p>
  <p>
    <a href="http://github.com/{{ .Site.Params.social.github }}"><i class="fa fa-github"></i>&nbsp;Github</a>
  </p>
  <p>
    <a href="http://linkedin.com/{{ .Site.Params.social.linkedin }}"><i class="fa fa-linkedin"></i>&nbsp;LinkedIn</a>
  </p>
</header>
